body {
    padding-top: 4rem;
    overflow-x: hidden;
}

.root{
    --pr-color : #fff;
}
.navbar{
    background-color: black;
}
.nav-brand{
    font-weight: 700;
}
.nav-link{
    font-size: 20px ;
}
.nav-link.active{
    font-weight: 700 ;
}
.button-primary{
    width: 120px;
    height: 52px; 
    background-color:#8B5E3C ; 
    color: #fff ; 
    border:none;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.button-primary:hover {
  background-color: #8B5E3C;
  transform: scale(1.05);
}

.card{
    width: 150px;
    height: 245px;
    border: none;
    padding: 8px 8px 8px 8px;
    background-color: transparent;
}
.card-body{
    color: #DCAF50;
}
.card-text{
    color: #ffff;
}
.card-img-top{
    width: 100%;
    height: 150px;
    border-color: #DFC3C3;
    object-fit: cover;
  
}
.card-overlay{
    background-color: rgba(0,0,0,0);
    opacity: 0;
    transition: all ease-in-out .3s;
}
.card-overlay:hover{
    background-color: rgba(0,0,0,0.6);
    opacity: 1;
    backdrop-filter: blur(4px);
}


